
.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.encabezado-contenido {
    display: flex;
    flex-direction: space-between;
}
#parrafo {
    width: 302px;
    font-size: 60px;
    display: flex;
    text-align: center;
    color: blueviolet;
}
